.center {
    text-align: center;
}

body {
    height: 90vh;
    background-color: blue;
}

.container {
    margin-top: 5%;
}

.login {
    margin-top: 30vh;
}

.title {
    background-color: blue;
}

h1 {
    margin: 20px;
    padding: 0px;
}